<div mat-dialog-title>
  <h5>Fatura</h5>
</div>
<mat-dialog-content>
  <div layout="row" *ngFor="let product of data.chosenProducts">
    <mat-card class="product-card" *ngIf="product.quantity>0">
      <mat-card-header>
        <div mat-card-avatar class="first-letter-icon" [ngStyle]="{'background-color': product.backgroundColor}">
          {{dataService.checkLetter(product.name)}}</div>
        <mat-card-title>{{product.quantity}}</mat-card-title>
        <mat-card-subtitle>{{product.unitPrice}} Leke</mat-card-subtitle>
        <!-- <div class="d-flex product-actions">
          <button mat-mini-fab class="first-letter-icon remove-button" aria-label="Remove from cart">
            <span>-</span>
          </button>
          <button mat-mini-fab class="first-letter-icon add-button" aria-label="Add to card">
            <span>+</span>
          </button>
        </div> -->
      </mat-card-header>
    </mat-card>
  </div>
  <div>
    Total : {{data.totalPrice}}
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="button-row">
    <button mat-flat-button (click)="closeCart()">Anulo</button>
  </div>
  <div class="button-row">
    <button mat-flat-button>Paguaj</button>
  </div>
</mat-dialog-actions>
