.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
.first-letter-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #fffbfe;
  left: calc(50% - 40px / 2);
  top: calc(50% - 40px / 2);
}

.mat-mdc-card-header {
  align-items: center;
  padding: 16px;
}

.product-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  background: #fffbfe;
  border: 1px solid #cac4d0;
  border-radius: 12px;
  box-shadow: unset;
}

.mat-mdc-card-title {
  width: 170px;
  word-break: break-all;
  color: var(--on-primary);
}
