.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
.first-letter-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #fffbfe;
  left: calc(50% - 40px / 2);
  top: calc(50% - 40px / 2);
}

.mat-mdc-card-header {
  align-items: center;
  padding: 0;
}

.product-card {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fffbfe;
  border-bottom: 1px solid #cac4d0;
  box-shadow: unset;
}

.mat-mdc-card-title {
  width: 175px;
  word-break: break-all;
  color: var(--on-primary);
}

.mat-mdc-dialog-title {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #1c1b1f;
  mix-blend-mode: normal;
  align-items: center;
  margin-bottom: 0;
}

::ng-deep .mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 28px !important;
  padding-top: 5%;
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.totalPrice {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #49454f;
  mix-blend-mode: normal;
}

.time-icon {
  display: flex;
  justify-content: center;
  width: 100%;
}

::ng-deep .cart-buttton-actions .mat-mdc-focus-indicator {
  background-color: white;
}

.close-cart {
  color: #b3261e !important;
}

.send-receipt {
  color: #6750a4 !important;
}

.cart-buttton-actions {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

::ng-deep .mdc-checkbox__background {
  border-color: #6750a4 !important;
  background-color: #6750a4 !important;
}

.mat-mdc-dialog-content.mdc-dialog__content {
  padding: 10px !important;
}
