<mat-icon class="material-icons-outlined time-icon" *ngIf="data.totalQuantity>0">access_time</mat-icon>
<h1 mat-dialog-title *ngIf="data.totalQuantity>0" class="text-center">
  Fatura
</h1>
<h1 mat-dialog-title *ngIf="data.totalQuantity==0" class="text-center">
  Ju nuk keni asnje produkt ne shporte!
</h1>
<div mat-dialog-content *ngIf="data.totalQuantity>0">
  <div class="totalPrice text-center"> {{data.totalPrice}} ALL</div>
  <div layout="row" *ngFor="let product of data.chosenProducts">
    <mat-card class="product-card" *ngIf="product.quantity>0">
      <mat-card-header>
        <div mat-card-avatar class="first-letter-icon" [ngStyle]="{'background-color': product.backgroundColor}">
          {{dataService.checkLetter(product.name)}}</div>
        <mat-card-title>{{product.name}}</mat-card-title>
        <div>{{product.quantity}} x {{product.unitPrice}} </div>
        <mat-checkbox [(ngModel)]="product.showButton">
        </mat-checkbox>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<mat-dialog-actions align="end">
  <div class="button-row">
    <button mat-button mat-flat-button (click)="closeCart()" class="cart-buttton-actions close-cart">Anulo</button>
    <button mat-button mat-flat-button class="cart-buttton-actions send-receipt"
      *ngIf="data.totalQuantity>0">Paguaj</button>
  </div>

</mat-dialog-actions>
