<app-toolbar></app-toolbar>
<div class="eaton mat-typography" style="overflow-x:hidden;" fxFlexFill cdkScrollable>
  <mat-toolbar class="main-header mat-elevation-z4 search-toolbar">
    <mat-toolbar-row style="padding: 0 5px;" class="search-row">
      <input class="search-control" type="text" placeholder="Filter categories..." [(ngModel)]="searchText" #searchbar>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-list class="categories-list">
    <mat-list-item *ngFor="let item of categories  | filter: searchText" (click)="goToProducts(item.id)">
      <div class="d-flex justify-content-between">
        <div mat-line class="text category-name text-format-categories">{{item.categoryName.toUpperCase()}}</div>
        <div mat-line class="text item-number text-format-categories"
          *ngIf="item.productsNumber==0 ||item.productsNumber>1 ">
          {{item.productsNumber}} Items</div>
        <div mat-line class="text item-number text-format-categories" *ngIf="item.productsNumber==1">
          {{item.productsNumber}} Item</div>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="(categories | filter: searchText).length === 0">
      <div mat-line class="text">Nuk ekziston asnje kategori me kete emer.</div>
    </mat-list-item>
  </mat-list>
  <div class="row justify-content-end add-to-cart" *ngIf="dataService.totalQuantity>0">
    <button mat-flat-button color="primary" class="view-cart-button" (click)="openCartModal()">Shiko faturen</button>
  </div>
</div>
