.search-control {
  border: unset;
  background: #f5f5f5;
  width: 80%;
}
.search-row {
  justify-content: center;
}
.search-toolbar {
  margin-left: 5%;
  width: 90%;
}
.categories-list {
  margin-left: 2%;
  margin-right: 2%;
}

.text {
  color: var(--on-background);
}
