.search-control {
  border: unset;
  background: #e7e0ec;
  width: 80%;
}
.search-row {
  justify-content: center;
  background: #e7e0ec;
}
.search-toolbar {
  margin-left: 5%;
  width: 90%;
}
.categories-list {
  margin-left: 5%;
  width: 90%;
}

.text {
  color: var(--on-background);
}

.view-cart-button {
  width: 133px;
  background-color: #8c1d18 !important;
  border-radius: 100px;
}

.add-to-cart {
  margin-right: 5%;
}

.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
  border-bottom: 1px solid #cac4d0;
}

.mat-toolbar.main-header.mat-elevation-z4.search-toolbar.mat-toolbar-multiple-rows {
  border-bottom: 1px solid var(--on-background);
  box-shadow: unset;
}

.search-control::placeholder {
  color: #49454f;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.item-number {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
}

.category-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.text-format-categories {
  letter-spacing: 0.5px;
  font-family: var(--font-family);
  font-style: normal;
}

input.search-control:focus {
  outline: none;
}
