.category-name {
  color: var(--on-background);
  background: var(--background);
  margin-left: 5%;
  width: 90%;
  padding-left: 0;
  padding-right: 0;
}
.spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-badge-content.mat-badge-active {
  background-color: var(--primary);
}
