<p>
  <mat-toolbar class="category-name">
    <button mat-icon-button *ngIf="!showIcons" (click)="goBackToCategories() ">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button (click)=" toggleThemes()" *ngIf="showIcons && darkModeSwitcher">
      <mat-icon class="material-icons-outlined">dark_mode</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleThemes()" *ngIf="showIcons && !darkModeSwitcher">
      <mat-icon class="material-icons-outlined">light_mode</mat-icon>
    </button>
    <span class="spacer"></span>
    <span *ngIf="!showIcons">{{dataService.categoryName.toUpperCase()}}</span>
    <span *ngIf="showIcons">{{businessName.toUpperCase()}}</span>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="!showIcons" (click)="openCartModal()">
      <mat-icon matBadge="{{dataService.totalQuantity}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</p>
