.first-letter-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #fffbfe;
  left: calc(50% - 40px / 2);
  top: calc(50% - 40px / 2);
}

.mat-mdc-card-header {
  align-items: center;
  padding: 16px;
}

.product-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  background: #fffbfe;
  border: 1px solid #cac4d0;
  border-radius: 12px;
  box-shadow: unset;
}

.remove-button {
  background-color: var(--primary);
  margin-right: 4px;
}

.add-button {
  background-color: #6750a4;
  margin-left: 4px;
}

.mat-mdc-card-title {
  width: 158px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: var(--on-primary);
  padding-bottom: 5px !important;
}

.mat-mdc-card-subtitle {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: var(--on-primary);
}

.products {
  background: var(--background);
  padding-bottom: 10px;
}
.view-cart-button {
  width: 133px;
  background-color: #8c1d18 !important;
  border-radius: 100px;
}

.add-to-cart {
  margin-top: 60px;
  margin-right: 5%;
  position: fixed;
  bottom: 10px;
  right: 0;
}

.notification {
  margin-bottom: 0;
}

::ng-deep .produt-carousel .carousel-indicators button {
  background-color: #c7c7c7;
  border-radius: 50%;
  height: 11px;
  width: 11px;
}

::ng-deep .produt-carousel .carousel-indicators {
  top: 100%;
}

::ng-deep .produt-carousel .carousel-control-prev,
::ng-deep .produt-carousel .carousel-control-next {
  position: absolute;
  bottom: -5%;
  top: 96%;
  margin-top: 20px;
}

::ng-deep .produt-carousel .carousel-control-prev-icon {
  background-image: var(--icon-left);
  width: 16px;
  height: 16px;
}

::ng-deep .produt-carousel .carousel-control-next-icon {
  background-image: var(--icon-right);
  width: 16px;
  height: 16px;
}

@media (min-width: 640px) {
  .spacer {
    flex: 0.94 1 auto;
  }

  .spacer-1 {
    flex: 1 1 auto;
  }
}

@media (min-width: 768px) {
  .spacer {
    flex: 0.95 1 auto;
  }
  .spacer-1 {
    flex: 1 1 auto;
  }
}
@media (min-width: 1024px) {
  .spacer {
    flex: 0.96 1 auto;
  }
  .spacer-1 {
    flex: 1 1 auto;
  }
}

@media (min-width: 400px) and (max-width: 640px) {
  .spacer {
    flex: 0.6 1 auto;
  }
  .spacer-1 {
    flex: 1 1 auto;
  }
}

@media (max-width: 400px) {
  .spacer {
    flex: 0 1 auto;
  }
  .spacer-1 {
    flex: 1 1 auto;
  }
}

@media (min-width: 1200px) {
  .spacer {
    flex: 0.98 1 auto;
  }
  .spacer-1 {
    flex: 1 1 auto;
  }
}
